services:
  app:
    build:
      context: .
      target: builder
    command: npm run dev
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
